body{
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
}

.head {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.mid{
    text-align: center;
}

#input {
    width: 350px;
    height: 35px;
    font-size: 25px;
}
.blue {
background-color: #4A90E2;
color: #ffffff;
}


.button{
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

.subject-info {
    font-family: poppins;
}


